[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
psycopg2-binary = ">=2.9"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
redis = "*"
django-celery-email = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
